<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/200/nightlife/<%= (1..10).to_a.sample %>');">
    <div class="card-category"><%= cocktail.name.capitalize %></div>
    <div class="card-description">
  </div>
  <%= link_to '', cocktail_path(cocktail), class: 'card-link' %>
</div>
